<h1 class="top">ようこそ　Bookersへ！</h1>
<p class="topp">Bookers では、さまざまな書籍に関するあなたの意見や</p>
<p class="toppp">印象を共有し交換することができます</p>


<p>
<ul>
	<li class="star"><%= link_to "start", :books %></li>
</ul>
</p>
