// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainn{
  margin:40px;
  margin-left:80px;
  font-size:15px;

	}
.mainnn{
   display: inline-block;
   font-size:15px;

}
